USE [NetworkMonitoring]
GO
/****** Object:  Table [dbo].[T_ActivityTypes]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ActivityTypes](
	[ActivityTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AcName] [nvarchar](max) NULL,
	[AcRemarks] [nvarchar](max) NULL,
	[AcTimer] [int] NULL,
	[AcStartTime] [time](7) NULL,
	[AcEndTime] [time](7) NULL,
	[AcLastRun] [datetime] NULL,
	[AcCreatedby] [int] NULL,
	[AcCreatedDate] [datetime] NULL,
	[AcModifiedby] [int] NULL,
	[AcModifiedDate] [datetime] NULL,
	[AcStatus] [tinyint] NULL,
	[AcSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CheckTimers]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE View [dbo].[V_CheckTimers] As
Select * From (
  Select 'TimerMonitoring'TimerType ,AcName TimerName ,AcTimer Timer, AcStartTime StartTime,AcEndTime EndTime,AcLastRun LastRun
  ,DateDiff(mi,AcLastRun, Getdate()) LastRunTimer From T_ActivityTypes Where AcStatus=1 and  AcSuspend=0
 
 --Union ALL

 -- Select 'TimerEmail' TimerType,EGName TimerName  ,EGTimer Timer,EGStartTime StartTime,EGEndTime EndTime,EGLastEmailed LastRun
 -- ,DateDiff(mi,EGLastEmailed, Getdate()) LastRunTimer From T_EmailGroups Where EGStatus=1 and  EGSuspend=0
 )K
Where  Convert (Time,Getdate()) Between StartTime and EndTime And LastRunTimer>=Timer



GO
/****** Object:  Table [dbo].[T_DeviceTypes]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DeviceTypes](
	[DeviceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[DTName] [nvarchar](max) NULL,
	[DTRemarks] [nvarchar](max) NULL,
	[DTCreatedby] [int] NULL,
	[DTCreatedDate] [datetime] NULL,
	[DTModifiedby] [int] NULL,
	[DTModifiedDate] [datetime] NULL,
	[DTStatus] [tinyint] NULL,
	[DTSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Device]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Device](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DLocationId] [int] NULL,
	[DDeviceTypeId] [int] NULL,
	[DName] [nvarchar](max) NULL,
	[DDescription] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](max) NULL,
	[DRemarks] [nvarchar](max) NULL,
	[DCreatedby] [int] NULL,
	[DCreatedDate] [datetime] NULL,
	[DModifiedby] [int] NULL,
	[DModifiedDate] [datetime] NULL,
	[DStatus] [tinyint] NULL,
	[DSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DeviceActivitys]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DeviceActivitys](
	[DeviceActivityId] [int] IDENTITY(1,1) NOT NULL,
	[DaDeviceId] [int] NULL,
	[DaActivityTypeId] [int] NULL,
	[DaEmailGroupId] [int] NULL,
	[CheckServices] [nvarchar](max) NULL,
	[IgnoreDrives] [nvarchar](max) NULL,
	[DrivesMinSizeGB] [int] NULL,
	[DBMaxSizeGB] [int] NULL,
	[DaRemarks] [nvarchar](max) NULL,
	[DaCreatedby] [int] NULL,
	[DaCreatedDate] [datetime] NULL,
	[DaModifiedby] [int] NULL,
	[DaModifiedDate] [datetime] NULL,
	[DaStatus] [tinyint] NULL,
	[DaSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_ActivityList]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE View [dbo].[V_ActivityList] AS
Select  * from (
Select * From T_Device De 
Inner Join T_DeviceActivitys Da On De.DeviceId =Da.DaDeviceId
Inner Join T_DeviceTypes DT On De.DDeviceTypeId =DT.DeviceTypeId
Inner Join T_ActivityTypes AC On  AC.ActivityTypeId= Da.DaActivityTypeId
--Inner join V_CheckTimers  VT On VT.TimerName  = MT.MTName  and TimerType = 'TimerMonitoring'
Where DSuspend =0 And Da.DaSuspend =0 And DT.DTSuspend=0 And AC.ACSuspend=0
And Convert (Time,Getdate()) Between AC.ACStartTime and AC.ACEndTime And DateDiff(mi,ACLastRun, Getdate()) >=AC.ACTimer
)K 

Order By ACName Desc
OffSet 0 Rows 
GO
/****** Object:  Table [dbo].[T_EmailGroups]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EmailGroups](
	[EmailGroupId] [int] IDENTITY(1,1) NOT NULL,
	[EGActivityTypeId] [int] NULL,
	[EGName] [nvarchar](max) NULL,
	[EGFrom] [nvarchar](max) NULL,
	[EGTo] [nvarchar](max) NULL,
	[EGCC] [nvarchar](max) NULL,
	[EGBCC] [nvarchar](max) NULL,
	[EGSubject] [nvarchar](max) NULL,
	[EGTimer] [int] NULL,
	[EGStartTime] [time](7) NULL,
	[EGEndTime] [time](7) NULL,
	[EGLastEmailed] [datetime] NULL,
	[EGFailedTries] [int] NULL,
	[EGRemarks] [nvarchar](max) NULL,
	[EGCreatedby] [int] NULL,
	[EGCreatedDate] [datetime] NULL,
	[EGModifiedby] [int] NULL,
	[EGModifiedDate] [datetime] NULL,
	[EGStatus] [tinyint] NULL,
	[EGSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_EmailTimers]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE View [dbo].[V_EmailTimers] As
Select * From (
  Select 'TimerEmail' TimerType,*
  ,DateDiff(mi,EG.EGLastEmailed, Getdate()) LastRunTimer From T_EmailGroups EG Where EG.EGStatus=1 and  EG.EGSuspend=0
 )K
Where  Convert (Time,Getdate()) Between EGStartTime and EGEndTime And LastRunTimer>=EGTimer
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlertLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlertLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Device] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Severity] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ApprovalRequests]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ApprovalRequests](
	[ApprovalRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequesterId] [int] NULL,
	[Title] [nvarchar](200) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ChatMessages]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ChatMessages](
	[ChatMessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NULL,
	[ReceiverId] [int] NULL,
	[MessageText] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Country]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Country](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[CouName_EN] [nvarchar](max) NULL,
	[CouName_AR] [nvarchar](max) NULL,
	[CouCreatedDate] [datetime] NULL,
	[CouCreatedBy] [tinyint] NULL,
	[CouModifiedDate] [datetime] NULL,
	[CouModifiedBy] [tinyint] NULL,
	[CouStatus] [tinyint] NULL,
	[CouSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_DbLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_DbLogs](
	[DbLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[DbDeviceId] [int] NULL,
	[DbSessionId] [bigint] NULL,
	[DbSizeInfo] [nvarchar](max) NULL,
	[DbisIssue] [bit] NULL,
	[DbDate] [date] NULL,
	[DbTime] [time](7) NULL,
	[DbSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Documents]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Documents](
	[DocumentId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NULL,
	[FileName] [nvarchar](200) NULL,
	[FilePath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_EmailSetup]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_EmailSetup](
	[EmailSetupId] [int] NULL,
	[SmtpServer] [nvarchar](max) NULL,
	[SmtpPort] [nvarchar](50) NULL,
	[SmtpUserName] [nvarchar](max) NULL,
	[SmtpPassword] [nvarchar](max) NULL,
	[ESRemarks] [nvarchar](max) NULL,
	[ESCreatedby] [int] NULL,
	[ESCreatedDate] [datetime] NULL,
	[ESModifiedby] [int] NULL,
	[ESModifiedDate] [datetime] NULL,
	[ESStatus] [tinyint] NULL,
	[ESSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Functions]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Functions](
	[FunctionId] [int] IDENTITY(1,1) NOT NULL,
	[FunctionName] [nvarchar](100) NULL,
	[DisplayName_En] [nvarchar](100) NULL,
	[DisplayName_Ar] [nvarchar](100) NULL,
	[FunctionIcon] [nvarchar](100) NULL,
	[FunctionLink] [nvarchar](200) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NULL,
	[Suspend] [bit] NULL,
	[IsInMenu] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_FunctionsAccess]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_FunctionsAccess](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[FunctionId] [int] NULL,
	[UserId] [int] NULL,
	[IsChecked] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GridSetup]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GridSetup](
	[GridSetupId] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[ColumnId] [nvarchar](100) NULL,
	[ColumnNameEn] [nvarchar](100) NULL,
	[ColumnNameAr] [nvarchar](100) NULL,
	[ColumnWidth] [int] NULL,
	[Visible] [bit] NULL,
	[Suspend] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GridUserLayout]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GridUserLayout](
	[UserLayoutId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TableName] [nvarchar](100) NULL,
	[GridLayoutData] [nvarchar](max) NULL,
	[Suspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HddLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HddLogs](
	[HddLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[HdDeviceId] [int] NULL,
	[HdSessionId] [bigint] NULL,
	[HddInfo] [nvarchar](max) NULL,
	[HdisIssue] [bit] NULL,
	[HddDate] [date] NULL,
	[HddTime] [time](7) NULL,
	[HdSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_HttpLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HttpLogs](
	[HttpLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[HDeviceId] [int] NULL,
	[HSessionId] [bigint] NULL,
	[HttpReMessage] [nvarchar](max) NULL,
	[HisIssue] [bit] NULL,
	[HttpDate] [date] NULL,
	[HttpTime] [time](7) NULL,
	[HSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Location]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[LoCountryId] [int] NULL,
	[LoName_En] [nvarchar](max) NULL,
	[LoLocationName_Ar] [nvarchar](max) NULL,
	[LoCreatedDate] [datetime] NULL,
	[LoCreatedBy] [int] NULL,
	[LoModifiedDate] [datetime] NULL,
	[LoModifiedBy] [int] NULL,
	[LoStatus] [tinyint] NULL,
	[LoSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Login]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NULL,
	[Pwd] [nvarchar](200) NULL,
	[FName_EN] [nvarchar](100) NULL,
	[LName_EN] [nvarchar](100) NULL,
	[FName_AR] [nvarchar](100) NULL,
	[LName_AR] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
	[Suspend] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_PingLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PingLogs](
	[PingLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[PLDeviceId] [int] NULL,
	[PLSessionId] [bigint] NULL,
	[PingReply] [nvarchar](max) NULL,
	[PLisIssue] [bit] NULL,
	[PingDate] [date] NULL,
	[PingTime] [time](7) NULL,
	[PLSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Sequences]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Sequences](
	[SequencesId] [tinyint] IDENTITY(1,1) NOT NULL,
	[SeqName] [nvarchar](250) NULL,
	[PreFix] [nvarchar](10) NULL,
	[Seq] [bigint] NULL,
	[SeqCreatedby] [int] NULL,
	[SeqCreatedDate] [datetime] NULL,
	[SeqModifiedby] [int] NULL,
	[SeqModifiedDate] [datetime] NULL,
	[SeqStatus] [tinyint] NULL,
	[SeqSuspend] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ServicesLogs]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ServicesLogs](
	[ServiceLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[SDeviceId] [int] NULL,
	[SSessionId] [bigint] NULL,
	[ServiceInfo] [nvarchar](max) NULL,
	[SisIssue] [bit] NULL,
	[ServiceDate] [date] NULL,
	[ServiceTime] [time](7) NULL,
	[SSuspend] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SubFunctions]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SubFunctions](
	[SubFunctionId] [int] IDENTITY(1,1) NOT NULL,
	[FunctionId] [int] NULL,
	[SubFunctionName] [nvarchar](100) NULL,
	[DisplayName_En] [nvarchar](100) NULL,
	[DisplayName_Ar] [nvarchar](100) NULL,
	[SubFunctionIcon] [nvarchar](100) NULL,
	[SubFunctionLink] [nvarchar](200) NULL,
	[IsInMenu] [bit] NULL,
	[DisplayOrder] [int] NULL,
	[Status] [bit] NULL,
	[Suspend] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SubFunctionsAccess]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SubFunctionsAccess](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[SubFunctionId] [int] NULL,
	[UserId] [int] NULL,
	[IsChecked] [bit] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlertLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcName]  DEFAULT ('') FOR [AcName]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcRemarks]  DEFAULT ('') FOR [AcRemarks]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcTimer]  DEFAULT ('') FOR [AcTimer]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcStartTime]  DEFAULT (getdate()) FOR [AcStartTime]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcEndTime]  DEFAULT (getdate()) FOR [AcEndTime]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcLastRun]  DEFAULT (getdate()) FOR [AcLastRun]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcCreatedby]  DEFAULT ((1)) FOR [AcCreatedby]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcCreatedDate]  DEFAULT (getdate()) FOR [AcCreatedDate]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcStatus]  DEFAULT ((1)) FOR [AcStatus]
GO
ALTER TABLE [dbo].[T_ActivityTypes] ADD  CONSTRAINT [DF_T_ActivityTypes_AcSuspend]  DEFAULT ((0)) FOR [AcSuspend]
GO
ALTER TABLE [dbo].[T_ApprovalRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[T_ChatMessages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_CouName_EN]  DEFAULT ('') FOR [CouName_EN]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_CouName_AR]  DEFAULT ('') FOR [CouName_AR]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_CreatedDate]  DEFAULT (getdate()) FOR [CouCreatedDate]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_CouCreatedBy]  DEFAULT ((1)) FOR [CouCreatedBy]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_Status]  DEFAULT ((1)) FOR [CouStatus]
GO
ALTER TABLE [dbo].[T_Country] ADD  CONSTRAINT [DF_T_Country_Suspend]  DEFAULT ((0)) FOR [CouSuspend]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbDeviceId]  DEFAULT ((1)) FOR [DbDeviceId]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbSessionID]  DEFAULT ((1)) FOR [DbSessionId]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbSizeInfo]  DEFAULT ('') FOR [DbSizeInfo]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbisIssue]  DEFAULT ((1)) FOR [DbisIssue]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbDate]  DEFAULT (getdate()) FOR [DbDate]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbTime]  DEFAULT (getdate()) FOR [DbTime]
GO
ALTER TABLE [dbo].[T_DbLogs] ADD  CONSTRAINT [DF_T_DbLogs_DbSuspend]  DEFAULT ((0)) FOR [DbSuspend]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_T_Device_DLocationId]  DEFAULT ((1)) FOR [DLocationId]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_T_Device_DDeviceTypeId]  DEFAULT ((1)) FOR [DDeviceTypeId]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_T_Device_DName]  DEFAULT ('') FOR [DName]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_T_Device_DDescription]  DEFAULT ('') FOR [DDescription]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_T_Device_IPAddress]  DEFAULT (N'1.1.1.1') FOR [IPAddress]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_Table_1_EGRemarks]  DEFAULT ('') FOR [DRemarks]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_Table_1_EGCreatedby]  DEFAULT ((1)) FOR [DCreatedby]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_Table_1_EGCreatedDate]  DEFAULT (getdate()) FOR [DCreatedDate]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_Table_1_EGStatus_1]  DEFAULT ((1)) FOR [DStatus]
GO
ALTER TABLE [dbo].[T_Device] ADD  CONSTRAINT [DF_Table_1_EGSuspend_1]  DEFAULT ((0)) FOR [DSuspend]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DeviceId]  DEFAULT ((1)) FOR [DaDeviceId]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_MonitoringTypeId]  DEFAULT ((1)) FOR [DaActivityTypeId]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceActivitys_DaEmailGroupId]  DEFAULT ((0)) FOR [DaEmailGroupId]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceActivitys_CheckServices]  DEFAULT ('') FOR [CheckServices]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceActivitys_IgnoreDrives]  DEFAULT ('') FOR [IgnoreDrives]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceActivitys_DrivesMaxSizeGB]  DEFAULT ((5)) FOR [DrivesMinSizeGB]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceActivitys_DBMaxSizeGB]  DEFAULT ((8)) FOR [DBMaxSizeGB]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DRemarks]  DEFAULT ('') FOR [DaRemarks]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DCreatedby]  DEFAULT ((1)) FOR [DaCreatedby]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DCreatedDate]  DEFAULT (getdate()) FOR [DaCreatedDate]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DStatus]  DEFAULT ((1)) FOR [DaStatus]
GO
ALTER TABLE [dbo].[T_DeviceActivitys] ADD  CONSTRAINT [DF_T_DeviceTask_DSuspend]  DEFAULT ((0)) FOR [DaSuspend]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_T_DeviceType_DTName]  DEFAULT ('') FOR [DTName]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_T_DeviceType_DTRemarks]  DEFAULT ('') FOR [DTRemarks]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_T_DeviceType_DTCreatedby]  DEFAULT ((1)) FOR [DTCreatedby]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_T_DeviceType_EGCreatedDate]  DEFAULT (getdate()) FOR [DTCreatedDate]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_Table_1_EGStatus]  DEFAULT ((1)) FOR [DTStatus]
GO
ALTER TABLE [dbo].[T_DeviceTypes] ADD  CONSTRAINT [DF_Table_1_EGSuspend]  DEFAULT ((0)) FOR [DTSuspend]
GO
ALTER TABLE [dbo].[T_Documents] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_EGActivityTypeId]  DEFAULT ((0)) FOR [EGActivityTypeId]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGName]  DEFAULT ('') FOR [EGName]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGFrom]  DEFAULT ('') FOR [EGFrom]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGTo]  DEFAULT ('') FOR [EGTo]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGCC]  DEFAULT ('') FOR [EGCC]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGBCC]  DEFAULT ('') FOR [EGBCC]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGSubject]  DEFAULT ('') FOR [EGSubject]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_EGTimer]  DEFAULT ((10)) FOR [EGTimer]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGStartTime]  DEFAULT (getdate()) FOR [EGStartTime]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGEndTime]  DEFAULT (getdate()) FOR [EGEndTime]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_Last_Emailed]  DEFAULT (getdate()) FOR [EGLastEmailed]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_EGFailedTries]  DEFAULT ((3)) FOR [EGFailedTries]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_DTRemarks]  DEFAULT ('') FOR [EGRemarks]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_EGCreatedby]  DEFAULT ((1)) FOR [EGCreatedby]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroups_EGCreatedDate]  DEFAULT (getdate()) FOR [EGCreatedDate]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGStatus]  DEFAULT ((1)) FOR [EGStatus]
GO
ALTER TABLE [dbo].[T_EmailGroups] ADD  CONSTRAINT [DF_T_EmailGroup_EGSuspend]  DEFAULT ((0)) FOR [EGSuspend]
GO
ALTER TABLE [dbo].[T_EmailSetup] ADD  CONSTRAINT [DF_T_EmailSetup_EGRemarks]  DEFAULT ('') FOR [ESRemarks]
GO
ALTER TABLE [dbo].[T_EmailSetup] ADD  CONSTRAINT [DF_T_EmailSetup_EGCreatedby]  DEFAULT ((1)) FOR [ESCreatedby]
GO
ALTER TABLE [dbo].[T_EmailSetup] ADD  CONSTRAINT [DF_T_EmailSetup_EGCreatedDate]  DEFAULT (getdate()) FOR [ESCreatedDate]
GO
ALTER TABLE [dbo].[T_EmailSetup] ADD  CONSTRAINT [DF_T_EmailSetup_EGStatus]  DEFAULT ((1)) FOR [ESStatus]
GO
ALTER TABLE [dbo].[T_EmailSetup] ADD  CONSTRAINT [DF_T_EmailSetup_EGSuspend]  DEFAULT ((0)) FOR [ESSuspend]
GO
ALTER TABLE [dbo].[T_Functions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[T_Functions] ADD  DEFAULT ((0)) FOR [Suspend]
GO
ALTER TABLE [dbo].[T_Functions] ADD  DEFAULT ((1)) FOR [IsInMenu]
GO
ALTER TABLE [dbo].[T_FunctionsAccess] ADD  DEFAULT ((0)) FOR [IsChecked]
GO
ALTER TABLE [dbo].[T_GridSetup] ADD  DEFAULT ((1)) FOR [Visible]
GO
ALTER TABLE [dbo].[T_GridSetup] ADD  DEFAULT ((0)) FOR [Suspend]
GO
ALTER TABLE [dbo].[T_GridUserLayout] ADD  DEFAULT ((0)) FOR [Suspend]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HdDeviceId]  DEFAULT ((1)) FOR [HdDeviceId]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HdSessionID]  DEFAULT ((1)) FOR [HdSessionId]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HddReMessage]  DEFAULT ('') FOR [HddInfo]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HdisIssue]  DEFAULT ((0)) FOR [HdisIssue]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HdddDate]  DEFAULT (getdate()) FOR [HddDate]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HddTime]  DEFAULT (getdate()) FOR [HddTime]
GO
ALTER TABLE [dbo].[T_HddLogs] ADD  CONSTRAINT [DF_T_HddLogs_HdSuspend]  DEFAULT ((0)) FOR [HdSuspend]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_PingHttpLogs_HDeviceId]  DEFAULT ((1)) FOR [HDeviceId]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_HttpLogs_HSessionID]  DEFAULT ((1)) FOR [HSessionId]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_HttpLogs_HttpReMessage]  DEFAULT ('') FOR [HttpReMessage]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_PingHttpLogs_HisIssue]  DEFAULT ((0)) FOR [HisIssue]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_PingHttpLogs_HttpDate]  DEFAULT (getdate()) FOR [HttpDate]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_PingHttpLogs_HttpTime]  DEFAULT (getdate()) FOR [HttpTime]
GO
ALTER TABLE [dbo].[T_HttpLogs] ADD  CONSTRAINT [DF_T_PingHttpLogs_HSuspend]  DEFAULT ((0)) FOR [HSuspend]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_LoCountryID]  DEFAULT ((121)) FOR [LoCountryId]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_LoName_En]  DEFAULT ('') FOR [LoName_En]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_LoLocationName_Ar]  DEFAULT ('') FOR [LoLocationName_Ar]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_CreatedDate]  DEFAULT (getdate()) FOR [LoCreatedDate]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_LoCreatedBy]  DEFAULT ((1)) FOR [LoCreatedBy]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_Status]  DEFAULT ((1)) FOR [LoStatus]
GO
ALTER TABLE [dbo].[T_Location] ADD  CONSTRAINT [DF_T_Location_Suspend]  DEFAULT ((0)) FOR [LoSuspend]
GO
ALTER TABLE [dbo].[T_Login] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[T_Login] ADD  DEFAULT ((0)) FOR [Suspend]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PLDeviceId]  DEFAULT ((1)) FOR [PLDeviceId]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PLSessionID]  DEFAULT ((1)) FOR [PLSessionId]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PingReply]  DEFAULT ('') FOR [PingReply]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PLisIssue]  DEFAULT ((0)) FOR [PLisIssue]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PingDate]  DEFAULT (getdate()) FOR [PingDate]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PingTime]  DEFAULT (getdate()) FOR [PingTime]
GO
ALTER TABLE [dbo].[T_PingLogs] ADD  CONSTRAINT [DF_T_PingLogs_PLSuspend]  DEFAULT ((0)) FOR [PLSuspend]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_SeqName]  DEFAULT ('') FOR [SeqName]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_PreFix]  DEFAULT ('') FOR [PreFix]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_Seq]  DEFAULT ((1)) FOR [Seq]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_DCreatedby]  DEFAULT ((1)) FOR [SeqCreatedby]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_DCreatedDate]  DEFAULT (getdate()) FOR [SeqCreatedDate]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_DStatus]  DEFAULT ((1)) FOR [SeqStatus]
GO
ALTER TABLE [dbo].[T_Sequences] ADD  CONSTRAINT [DF_T_Sequences_DSuspend]  DEFAULT ((0)) FOR [SeqSuspend]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_PingServiceLogs_SDeviceId]  DEFAULT ((1)) FOR [SDeviceId]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_ServiceLogs_SSessionID]  DEFAULT ((1)) FOR [SSessionId]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_ServiceLogs_ServiceInfo]  DEFAULT ('') FOR [ServiceInfo]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_PingServiceLogs_SisIssue]  DEFAULT ((0)) FOR [SisIssue]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_PingServiceLogs_ServiceDate]  DEFAULT (getdate()) FOR [ServiceDate]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_PingServiceLogs_ServiceTime]  DEFAULT (getdate()) FOR [ServiceTime]
GO
ALTER TABLE [dbo].[T_ServicesLogs] ADD  CONSTRAINT [DF_T_PingServiceLogs_SSuspend]  DEFAULT ((0)) FOR [SSuspend]
GO
ALTER TABLE [dbo].[T_SubFunctions] ADD  DEFAULT ((1)) FOR [IsInMenu]
GO
ALTER TABLE [dbo].[T_SubFunctions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[T_SubFunctions] ADD  DEFAULT ((0)) FOR [Suspend]
GO
ALTER TABLE [dbo].[T_SubFunctionsAccess] ADD  DEFAULT ((0)) FOR [IsChecked]
GO
/****** Object:  StoredProcedure [dbo].[Sp_DBSize]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[Sp_DBSize]
 @Start Date=Null
,@End Date=Null
,@Action Nvarchar(200)=Null
,@EmailGroupId int=0
,@SessionId Bigint=0
As
Begin

	If (@Action = 'SelectAll' )
		Begin 
			Select * From T_DbLogs DL
			Inner Join T_Device De On DL.DbDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=4  And DL.DbSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0		
			--And SL.SisIssue=1
		End
	If (@Action = 'Email' And  @EmailGroupId<>0 and  @SessionId >0)
		Begin 
			Select  Co.Couname_en 
			 ,Lo.Loname_en 
			 ,De.DeviceId 
			 ,De.Dname
			 ,De.Ddescription
			 ,Dt.Dtname
			 ,De.Ipaddress
			 ,DL.DbSizeInfo 
			 ,EG.EmailGroupId 			
			 ,DA.DBMaxSizeGB 
			  
			 From T_DbLogs DL
			Inner Join T_Device De On DL.DbDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=4  And DL.DbSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0		
			And DL.DbisIssue =1 and DL.DbSessionId  = @SessionId
			And Eg.EmailGroupId in(@EmailGroupId)
		End
End





GO
/****** Object:  StoredProcedure [dbo].[Sp_Hdd]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[Sp_Hdd]
 @Start Date=Null
,@End Date=Null
,@Action Nvarchar(200)=Null
,@EmailGroupId int=0
,@SessionId Bigint=0
As
Begin

	If (@Action = 'SelectAll' )
		Begin 
			Select * From T_HddLogs HL
			Inner Join T_Device De On HL.HdDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=3  And HL.HdSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0		
			--And SL.SisIssue=1
		End
	If (@Action = 'Email' And  @EmailGroupId<>0 and  @SessionId >0)
		Begin 
			Select  Co.Couname_en 
			 ,Lo.Loname_en 
			 ,De.DeviceId 
			 ,De.Dname
			 ,De.Ddescription
			 ,Dt.Dtname
			 ,De.Ipaddress
			 ,HL.HddInfo 
			 ,EG.EmailGroupId 			
			 ,DA.DrivesMinSizeGB 
			 ,DA.IgnoreDrives 
			 From T_HddLogs HL
			Inner Join T_Device De On HL.HdDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=3  And HL.HdSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0				
			And HL.HdisIssue =1 and HL.HdSessionId  = @SessionId
			And Eg.EmailGroupId in(@EmailGroupId)
		End
End





GO
/****** Object:  StoredProcedure [dbo].[Sp_Ping]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[Sp_Ping]
 @Start Date=Null
,@End Date=Null
,@Action Nvarchar(200)=Null
,@SessionId Bigint=0
,@EmailGroupId int=0
,@Failedtries int=0

As
Begin

	If (@Action = 'SelectAll' )
		Begin 
			Select *
			From T_PingLogs PL
			Inner Join T_Device De On PL.PLDeviceId =De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=2 And De.DSuspend =0 And PL.PLSuspend=0 			
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0				
		End
	If (@Action = 'Email' And  @EmailGroupId<>0 And  @Failedtries<>0 )
		Begin 
		  Select
			  Co.Couname_en 
			 ,Lo.Loname_en 
			 ,De.DeviceId 
			 ,De.Dname
			 ,De.Ddescription
			 ,Dt.Dtname
			 ,De.Ipaddress
			 ,Pingreply
			 ,EG.EmailGroupId 
			 , Max(Dateadd(Day, Datediff(Day, 0, PL.Pingdate), Cast( PL.Pingtime As Datetime2(0)))) AS LastFailedTry
					  
			,Max( IsNull(Expr.Expr1,'') ) As Lastsuccess 
			
			,Max(PL.PlsessionId)-Isnull(Max(Expr.Expr2),0) As Failedtries
			 , Case When Pl.PLisIssue=1 Then 'Down'  When Pl.PLisIssue=0 Then 'UP' End  Activitystatus
			From T_PingLogs PL
			Inner Join T_Device De On PL.PLDeviceId =De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId 				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Outer Apply (Select Max(Dateadd(Day, Datediff(Day, 0, Pingdate), Cast(Pingtime As Datetime2(0)))) As Expr1
						, Max(PlSessionId)As Expr2
					From T_pinglogs
					Where (Plisissue = 0)
					And (PldeviceId = De.DeviceId))Expr
			Where 
				Da.DaactivitytypeId=2
				And De.DSuspend =0
				And Pl.Plsuspend=0
				And Da.Dasuspend=0
				And Dt.Dtsuspend =0
				And Ac.Acsuspend=0
				And Eg.Egsuspend=0
				And Lo.Losuspend =0
				And Co.Coususpend =0
				And (Pl.PlsessionId >
					(Select Max(PlSessionId)
						From T_pinglogs As Deviceconnectionlog_1) -3)

			And EG.EmailGroupId =(@EmailGroupId)
			Group by
					Co.Couname_en
					,Lo.Loname_en
					,De.DeviceId
					,De.Dname
					,De.Ddescription
					,Dt.Dtname
					,De.Ipaddress
					,Pingreply 
					,De.DeviceId
					,EG.EmailGroupId 
					,Pl.PLisIssue

			Having Max(Pl.PlSessionId)-Isnull(
                                    (Select Max(PlSessionId) As Expr1
                                     From T_pinglogs
                                     Where (Plisissue = 0)
                                       And (PldeviceId = De.DeviceId )),0) >=@Failedtries
				
		End
End


GO
/****** Object:  StoredProcedure [dbo].[Sp_PingHttp]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[Sp_PingHttp]
 @Start Date=Null
,@End Date=Null
,@Action Nvarchar(200)=Null
,@EmailGroupId int=0
,@SessionId Bigint=0
As
Begin

	If (@Action = 'SelectAll' )
		Begin 
			Select * From T_HttpLogs HL
			Inner Join T_Device De On HL.HDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=5  And HL.HSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0	
			--And SL.SisIssue=1
		End
	If (@Action = 'Email' And  @EmailGroupId<>0 and  @SessionId >0)
		Begin 
			Select  Co.Couname_en 
			 ,Lo.Loname_en 
			 ,De.DeviceId 
			 ,De.Dname
			 ,De.Ddescription
			 ,Dt.Dtname
			 ,De.Ipaddress
			 ,HL.HttpReMessage 
			 ,EG.EmailGroupId 			
			 
			 From T_HttpLogs HL
			Inner Join T_Device De On HL.HDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=5  And HL.HSuspend  =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0		
			And HL.HisIssue =1 and HL.HSessionId  = @SessionId
			And Eg.EmailGroupId in(@EmailGroupId)
		End
End





GO
/****** Object:  StoredProcedure [dbo].[Sp_Services]    Script Date: 4/21/2026 2:49:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[Sp_Services]
 @Start Date=Null
,@End Date=Null
,@Action Nvarchar(200)=Null
,@EmailGroupId int=0
,@SessionId Bigint=0
As
Begin

	If (@Action = 'SelectAll' )
		Begin 
			Select * From T_ServicesLogs SL
			Inner Join T_Device De On SL.SDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=1  And SL.SSuspend =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0				
			--And SL.SisIssue=1
		End
	If (@Action = 'Email' And  @EmailGroupId<>0 and  @SessionId >0)
		Begin 
			Select  Co.Couname_en 
			 ,Lo.Loname_en 
			 ,De.DeviceId 
			 ,De.Dname
			 ,De.Ddescription
			 ,Dt.Dtname
			 ,De.Ipaddress
			 ,SL.ServiceInfo 
			 ,EG.EmailGroupId 
			
			 From T_ServicesLogs SL
			Inner Join T_Device De On SL.SDeviceId=De.DeviceId 			
			Inner join T_DeviceTypes DT On De.DdevicetypeId=DT.DevicetypeId
			Inner join T_DeviceActivitys DA On De.DeviceId =DA.DadeviceId				
			Inner Join T_ActivityTypes  Ac On DA.DaActivityTypeId =Ac.ActivityTypeId 
			Inner join T_EmailGroups Eg On Ac.ActivityTypeId=Eg.EGActivityTypeId And DA.DaEmailGroupId=Eg.EmailGroupId 
		    Inner Join T_Location Lo On De.DLocationId  =Lo.LocationId 
			Inner Join T_Country Co On Lo.LoCountryId  =Co.CountryId  
			Where DA.DaActivityTypeId=1  And SL.SSuspend =0 And De.DSuspend =0
			And DA.DaSuspend=0 And DT.DTSuspend =0  And Ac.AcSuspend=0 And EG.EGSuspend=0
			And Lo.LoSuspend =0 And Co.CouSuspend =0				
			And SL.SisIssue=1 and SL.SSessionId = @SessionId
			And Eg.EmailGroupId in(@EmailGroupId)
		End
End





GO
