<!doctype html>
<html lang="en" dir="ltr">
<head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1"/><title>@ViewData["Title"] - NetMon</title>
<link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="/adminlte/adminlte.css" />
<link rel="stylesheet" href="/fontawesome/fontawesome.min.css" />
</head>
<body class="hold-transition sidebar-mini">
<nav class="navbar navbar-expand navbar-light bg-light"><a class="navbar-brand" href='/'>NetMon</a></nav>
<div class="container mt-3">@RenderBody()</div>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/adminlte/adminlte.js"></script>
</body>
</html>
